<h1>Hello</h1>
<hr>
<p>Java program</p>
 
<input type="text" [(ngModel)]="name"  >

<hr>
{{name}}
<hr>
<button (click)="buttonPressed(9)">Sade duyme</button>
<hr>
<button (click)="showProducts()">show products</button>

<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Qiymet</th>
            <th>Sekil</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
<td>
    {{p.id}}
</td>
<td>
    {{p.name}}
</td>
<td>
    {{p.price}}
</td>
<td>
    {{p.image}}
</td>
        </tr>
    </tbody>
</table>